<h1>Collections</h1>

<!--<ul>-->
  <%# @collections.where(publish: true).each do |collection| %>
<!--    <li>-->
<!--      <a href="/collections/<%#= collection.id %>">-->
        <%#= collection.title %> <%#= collection.publish %>
<!--      </a>-->
<!--    </li>-->
  <%# end %>
<!--</ul>-->
<%= collection.id %>
<%= collection.title %>
