<% if resource.errors.any? %>
  <div id="error_explanation" data-turbo-cache="false">
    <% resource.errors.full_messages.each do |message| %>
      <div class="alert alert-danger" role="alert"><%= message %></div>
    <% end %>
  </div>
<% end %>
